<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="tamplateForm">
      <div class="md-form mb-2">
        <input type="text" id="templateType" formControlName="templateType" class="form-control" mdbInput>
        <label for="templateType">Template Type</label>
      </div>
  
      <div class="md-form mb-3">
        <input type="text" id="templateName" formControlName="templateName" class="form-control" mdbInput>
        <label for="templateName">Template Name</label>
      </div>

      <div class="md-form mb-3">
        <textarea type="text" id="templateContent" formControlName="templateContent" class="md-textarea form-control" mdbInput></textarea>
        <label for="templateContent">Basic textarea</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button mdbBtn type="button" color="blue-grey" (click)="confirm()" mdbWavesEffect>{{ button | titlecase}}</button>
    <button mdbBtn type="button" color="grey" (click)="bsModalRef.hide()" mdbWavesEffect>Close</button>
  </div>