<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <app-autocomplete [label]="'Search'" [data]="'payments'" [property]="'paymentMethodName'"
        (onSelect)="selectedPayment($event)">
    </app-autocomplete>
    <ul *ngIf="selected" class="selected">
        <li>
            <img src="{{adminSettingsService.backendPath + selected.paymentMethodLogo }}" title="{{selected.paymentMethodLogo}}"
                alt="{{selected.paymentMethodLogo}}">
        </li>
        <li>{{selected.paymentMethodName}}</li>
        <li>{{selected.paymentMethodWebsite}}</li>
    </ul>
</div>
<div class="modal-footer">
    <button mdbBtn type="button" color="blue-grey" (click)="confirm()" [disabled]="!selected" mdbWavesEffect>{{button}}</button>
    <button mdbBtn type="button" color="grey" (click)="bsModalRef.hide()" mdbWavesEffect>Close</button>
</div>