<div class="container-fluid">

  <!-- counted -->
  <div class="row pt-3">
    <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
      <mdb-card class="col-lg-12">
        <mdb-card-body>
          <mdb-card-title class="title">
            <h5>
              <mdb-icon class="icon" fas icon="dice"></mdb-icon> Casinos
            </h5>
          </mdb-card-title>
          <div class="row counter">
            <div class="col-6 published"><span>{{dashboard.casinos.published}}</span> published</div>
            <div class="col-6 total"><span>{{dashboard.casinos.all}}</span></div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
      <mdb-card class="col-lg-12">
        <mdb-card-body>
          <mdb-card-title>
            <h5>
              <mdb-icon class="icon" fas icon="gift"></mdb-icon> Bonuses
            </h5>
          </mdb-card-title>
          <div class="row counter">
            <div class="col-6 published"><span>{{dashboard.bonuses.published}}</span> published</div>
            <div class="col-6 total"><span>{{dashboard.bonuses.all}}</span></div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
      <mdb-card class="col-lg-12">
        <mdb-card-body>
          <mdb-card-title>
            <h5>
              <mdb-icon class="icon" fas icon="grip-horizontal"></mdb-icon> Slots
            </h5>
          </mdb-card-title>
          <div class="row counter">
            <div class="col-6 published"><span>{{dashboard.slots.published}}</span> published</div>
            <div class="col-6 total"><span>{{dashboard.slots.all}}</span></div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
      <mdb-card class="col-lg-12">
        <mdb-card-body>
          <mdb-card-title>
            <h5>
              <mdb-icon class="icon" fas icon="handshake"></mdb-icon> Affiliates
            </h5>
          </mdb-card-title>
          <div class="row counter">
            <div class="col-6 published"><span>{{dashboard.affiliates.published}}</span> published</div>
            <div class="col-6 total"><span>{{dashboard.affiliates.all}}</span></div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>

  <!-- grouped -->
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
      <mdb-card class="col-12">
        <mdb-card-body>
          <mdb-card-title>
            <h5>
              <mdb-icon class="icon" fas icon="award"></mdb-icon> Reputation
            </h5>
          </mdb-card-title>
          <br />
          <div class="row list" *ngFor="let reputation of dashboard.reputation">
            <div class="col-6 reputation"><span>{{reputation._id}}</span></div>
            <div class="col-6 count"><span>{{reputation.count}}</span> casinos</div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>


  </div>